@define-color bg-0 #222222;
@define-color bg-1 #363636;
@define-color bg-2 #555555;

@define-color fg-0 #cccccc;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode Nerd Font Propo;
    font-size: 14px;
}

window#waybar {
    background-color: alpha(@bg-0, 0.9);
    color: @fg-0;
}

widget {}

label {
    background-color: @bg-1;
    color: @fg-0;
    padding: 0 0.6rem;
}

/* workspaces */

box#workspaces {
    background: @bg-0;
    margin: 0.6rem 0.3rem;
    margin-left: 0.6rem;
}

#workspaces button {
    padding: 0 0;
    margin: 0 0;
    background: @bg-0;
    border-radius: 0;
}

#workspaces button:hover {
    background: @bg-0;
    box-shadow: none;
    border: none;
}

#workspaces button.active label {
    border-bottom: 3px solid @fg-0;
    padding-top: 3px;
}

#workspaces button label {
    background: @bg-2;
}

#workspaces button.empty label {
    background: @bg-1;
}

button {
    border: unset;
}

#window,
#clock,
#disk,
#cpu,
#memory,
#backlight,
#battery,
#pulseaudio,
#network,
#tray {
    margin: 0.6rem 0.3rem;
}

#tray {
    margin-right: 0.6rem;
}

#window.empty {
    background: transparent;
}
