* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode Nerd Font Propo;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(34, 34, 34, 0.9);
    color: #cccccc;
    transition-property: background-color;
    transition-duration: .5s;
}

widget {}

label {
    background-color: #363636;
    color: #cccccc;
    padding: 4px 10px;
    margin: 6px 3px;
}

/* workspaces */

box#workspaces {
    background: #222222;
}

#workspaces button {
    padding: 0 0;
    margin: 0 0;
    background: #222222;
    border-radius: 0;
}

#workspaces button:hover {
    background: #222222;
    box-shadow: none;
    border: none;
}

#workspaces button.active label {
    border-bottom: 3px solid #cccccc;
    padding: 7px 10px 4px 10px;
}

#workspaces button label {
    background: #555555;
    margin: 6px -1px;
}

#workspaces button.empty label {
    background: #363636;
}

